
/* *, *::before, *::after { */
*{
box-sizing: border-box;
font-family: 'Gill Sans';
margin: 0;
padding: 0;
}

body {
  background: linear-gradient(to right,#f6490f,#f27813,#ef9614);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 50px 1fr 30px;
  padding: 100px;
  margin: 0px;
  img: center; */
}

.quiz-container{
  width: 100vw;
  max-width: 100%;
  background-color: beige;
  height:70vh;
  box-shadow: 0 0 5px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
}

.score{
  font-size: large;
  font-weight: bold;
}

#user-score{
  color:#ef9614;
}

.question{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* .body.correct{
  --hue: var(--hue-correct);
}
.body.wrong{
  --hue: var(--hue-wrong);
} */

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn{
font-size: large;
font-weight: bold;
box-shadow: 0 6px 12px -2px rgba(#f27813, .15);
background: #ef9614;
border-radius: 5px;
padding: 5px 10px;
color: beige;
margin: 6px;
cursor: pointer;
 }

.btn:hover {
border-color: black;
padding: 15px;
}

 .start-btn, .next-btn, .submit-btn, .restart-btn {
  font-size: 1.5rem:
  font-weight: bold;
  padding: 10px 20px;
}
.controls{
  padding: 10px;
  order: 4;
  /* display:flex;
  justify-content: center;
  align-items: center; */
}

img{
  display:grid;
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}
.hide{
  display:none;
}
